@model TaskDTO;
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Add Task";
}

<div class="content wraper">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Task</h1>
            </div>
        </div>
    </div>
    <div class="card card-warning">
        @*     <div class="card-header">
        <h3 class="card-title">General Elements</h3>
        </div> *@
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="AddTask" asp-controller="Task">
                <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="isDeleted">
                        <label class="custom-control-label" for="isDeleted">Active</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="Enter ...">
                            <p>
                                <span asp-validation-for="Title"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- textarea -->
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" asp-for="Description" placeholder="Enter ..."></textarea>
                            <p>
                                <span asp-validation-for="Description"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- input states -->
                <div class="form-group">
                    <label class="col-form-label" for="images">
                        <i class="fas fa-check"></i> Images
                    </label>
                    <input type="file" class="form-control is-valid" asp-for="Images" id="images" placeholder="Enter ..." multiple>
                    <p>
                        <span asp-validation-for="Images"></span>
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>Category</label>
                            <select asp-for="Category" class="form-control">
                                <option value="option1">option 1</option>
                                <option value="option2">option 2</option>
                                <option value="option3">option 3</option>
                            </select>
                        </div>
                        <p>
                            <span asp-validation-for="Category"></span>
                        </p>
                    </div>


                    <div class="col-sm-4">
                        <!-- Select multiple-->
                        <div class="form-group">
                            <label>Difficulty</label>
                            <select asp-for="Difficulty" class="form-control">
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                            </select>
                        </div>
                        <p>
                            <span asp-validation-for="Difficulty"></span>
                        </p>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <button style="width:100px;" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
</div>