@model RegisterDTO;
@{
    ViewData["Title"] = "Register";
}
@section Styles {
    <link rel="stylesheet" href="~/css/register.css">
    
}




    <!-- MATERIAL DESIGN ICONIC FONT -->

    <!-- STYLE CSS -->


    <div class="wrapper" style="background-image: url('/images/reg_back.jpg'); border-radius:10px">
        <div class="inner">
        <form asp-action="Register" method="post">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Name</label>
                        <input type="text" asp-for="Name" class="form-control form-control-lg" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-wrapper">
                        <label for="">Surname</label>
                        <input type="text" asp-for="Surname" class="form-control form-control-lg" />
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label asp-for="BirthDay" class="form-label">Birthday</label>
                    <input type="date" class="form-control form-control-lg" asp-for="BirthDay" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>

                <div class="form-wrapper">

                    <h6 class="mb-2 pb-1">Gender: </h6>

                    <div class="form-check form-check-inline">
                        <input asp-for="Gender" class="form-check-input" type="radio" name="Gender" id="femaleGender"
                           value="female" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                       
                    </div>

                    <div class="form-check form-check-inline">
                        <input asp-for="Gender" class="form-check-input" type="radio" name="Gender" id="maleGender"
                               value="male" />
                        <label class="form-check-label" for="maleGender">Male</label>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">Email</label>
                        <input type="text" asp-for="Email" name="Email" class="form-control form-control-lg" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-wrapper">
                        <label class="form-label">Phone Number</label>
                        <input type="tel" asp-for="Phone" class="form-control form-control-lg" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
               

                <div class="form-wrapper">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control form-control-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-wrapper">
                    <label class="form-label" asp-for="ConfirmPassword">Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button>Register Now</button>
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
            </form>
        </div>
    </div>
