@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TaskTest | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/jquery-3.4.1.slim.min.js" ></script>
    <script src="/js/bootstrap.bundle.min.js"> </script>
    <script src="~/js/jquery.min.js"></script>
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required:false)

</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> 
            <i class="fa fa-align-justify " id="header-toggle"></i>
            </div>
        <div class="header_img"> <img src="/images/logo/Logo.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <span class="nav_logo-name">TaskTest</span>
                </a>
                <div class="sidenav">
                    <a href="#" class="nav_link">
                        <span class="nav_name">Users</span>
                    </a>

                    <a class="dropdown-btn nav_link">
                        <span class="nav_name">Tasks</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-container">
                        <a asp-action="Index" asp-controller="Task" asp-area="Admin" class="nav_link">
                            All Task
                        </a>
                        <a asp-action="AddTask" asp-controller="Task" asp-area="Admin" class="nav_link">
                            Add Task
                        </a>
                    </div>
                   
                    <a class="dropdown-btn nav_link">
                        <span class="nav_name">Tests</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-container">
                        <a asp-action="Index" asp-controller="Test" asp-area="Admin" class="nav_link">
                            All Test
                        </a>
                        <a asp-action="AddTest" asp-controller="Test" asp-area="Admin" class="nav_link">
                            Add Test
                        </a>
                    </div>

                    <a href="#" class="nav_link">
                        Categories
                    </a>
                    <a href="#" class="nav_link">
                        Programming Languages
                    </a>
                    <a href="#" class="nav_link">
                        Difficulties
                    </a>

                </div>
               
            </div>
            <a href="#" class="nav_link">
                <form class="form-inline" asp-area="none" asp-action="Logout" method="post" asp-controller="Account">
                    <button class="nav_name signOutBtn">SignOut</button>
                </form>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="my-2">
            <partial name="_Notification" />
        </div>
        @RenderBody()
    </div>
    <!--Container Main end-->

  <footer class="main-footer">
    <strong>Copyright &copy; 2024 </strong>
    All rights reserved.

  </footer>
</div>
    @RenderSection("Scripts", required: false)
</body>
<script src="~/js/adminLayout.js"></script>

</html>
