@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link navbar-item" asp-controller="Home" asp-action="Index" id="navbarUsername" title="Manage">
                @if (User.Identity.IsAuthenticated)
                {
                    var user = await UserManager.GetUserAsync(User);
                    if (user != null)
                    {
                        <span >
                            @($"{user.Name} {user.Surname} ")
                        </span>
                    }
                }

            </a>
    </li>
    <li class="nav-item">
        <form  class="form-inline"  asp-action="Logout" method="post" asp-controller="Account">
            <button  type="submit" class="nav-link text-dark">Logout</button>
        </form>
    </li>
}
else
{

    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register" >Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
    </li>
}
</ul>
